/* Responsive Topnav*/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /*to add image on background*/
  background-image: url(https://img.freepik.com/free-vector/blue-abstract-gradient-wave-vector-background_53876-111548.jpg?w=2000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.topnav {
  overflow: hidden;
  background-color: rgba(97, 101, 104, 0.658);
}

.topnav a {
  float: left; /* use to specifies the elements in inside the container to place left, right, etc.*/
  display: block; /*use to specifies the size of the border*/
  color: #f2f2f2;/*use to give color to the elements*/
  text-align: center;/*use to align the text*/
  padding: 14px 16px;/*use to maintain the space between border and text inside the block*/
  text-decoration: none;/*use to decorate the text*/
  font-size: 17px;/*use to specifies the size of the text*/
}

.topnav a:hover {
  background-color: rgba(97, 101, 104, 0.658);
  color: rgba(0, 0, 0, 0.575);
}

.topnav a.active1 {
  background-color: #1590d8a8;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
   
  .topnav a.active {
    background-color: #1590d8;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/* Side navigation*/

body {
  font-family: "Lato", sans-serif;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .mobile {
     font-size: 18px;
  }
}



/* Slideshow code */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
}
.mySlides{
  border-radius: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.486), 0 6px 20px rgba(0, 0, 0, 0.432);
  border-width: 2px;
  border-color: #000;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #0a0a0a;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
 
}
.caption{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption-border{
  background-color: #444;
  color: #fff;
  padding: 12px;
  font-size: 18px;
  letter-spacing: 5px;
}
@media screen and (max-width: 600px) {
  .caption-border{
    font-size: 9px;
    letter-spacing: 2px;
  }
}
/*parallex effect*/
body, html {
  height: 100%;
}

.parallax, .parallax1, .para{
  /* The image used */
  
  position: relative;
  font: 400 15px/1.8 "Lato", sans-serif;

  /* Full height */
  height: 100%; 
  opacity: 0.90;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax{
  background-image: url('img_parallax.jpg');
}
.parallax1{
  background-image: url('img_parallax3.jpg');
}
.para{
  background-image: url('https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014__340.jpg');
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
} 

/*team section*/
/**
{
	margin: 0;
	padding: 0;
	font-family: 'Exo', sans-serif;
}*/

.team-section
{
	background: #f1f2f6;
	text-align: center;
}

.inner-width
{
	max-width: 1200px;
	margin: auto;
	padding: 40px;
	color: #333;
	overflow: hidden;
}

.team-section h1
{
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 4px solid;
	padding-bottom: 10px;
}

.pe
{
	float: left;
	width: calc(100% / 3);
	overflow: hidden;
	padding: 40px 0;
	transition: 0.4s;
}

.pe:hover
{
	background: #dfe4ea;
}

.pe img
{
	width:250px;
	height: 250px;
	border-radius: 50%;
}

.p-name
{
	margin: 5px;
	text-transform: uppercase;
}

.p-des
{
	font-style: italic;
	color: #3498db;
}

.p-sm
{
	margin-top: 6px;
}

.p-sm a
{
	margin: 0 4px;
	display: inline-block;
	width: 30px;
	height: 30px;
	transition: 0.4s;
}

.p-sm a:hover
{
	transform: scale(1.3);
}

.p-sm a i
{
	color: #333;
	line-height: 30px;
}

@media screen and (max-width: 960px) {
	.pe{
		width: 45%;
	}
}
@media screen and (max-width: 768px) {
	.pe{
		width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.pe{
		width: 100%;
	}
}








